/**
 * CSS styles for Impressionist presentations editor
 *
 * Copyright 2016, Henrik Ingo (@henrikingo)
 * MIT License
 */

/* Camera plugin */

#impressionist-toolbar .impressionist-camera-minus,
#impressionist-toolbar .impressionist-camera-plus {
  font-size: 70%;
  width: 25px;
  height: 15px;
  padding: 0;
  border: 0;
  background: none;

  position: relative;
  top: 17px;
  left: -52px;
}

/* Cut away the empty space left by the plus and minus buttons as they were relatively positioned elsewhere. */
#impressionist-toolbar-group-0 span {
    margin-right: -48px;
}

/* Cameracontrols plugin (the buttons that allow you to pan, zoom, scale and rotate the camera) */

#impressionist-cameracontrols-xy {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
#impressionist-cameracontrols-z {
    position: fixed;
    top: 50px;
    right: 50px;
}
#impressionist-cameracontrols-rotate {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* Tinymce integration */
#tinymce-toolbar,
.mce-floatpanel {
    pointer-events: auto;
}
/**
 * CSS styles for Impressionist presentations editor
 *
 * Copyright 2016, Henrik Ingo (@henrikingo)
 * MIT License
 */
 
/* Many impress.js presentations set pointer-events: none. We must turn them back on for our toolbar. */
#impressionist-toolbar         {
    pointer-events: auto;
    opacity: 0.6;
}

#impressionist-toolbar input {
    width: 3em;
    font-size: 80%;
}
